.schedule{
    background-color: #000221;
    margin-top: -15px;
    padding-top: 17px;
    &__wrapper{
        
    }
    .section__title{
    }

    &__mask{
        width: 76%;
        overflow: hidden;
    }
    &__slider{
        color: white;
        width: 110%;
        margin-top: 40px;
    }

    &__body{
        display: flex;
        justify-content: space-between;
    }
    
    .owl-item{
        &:first-child{
            .schedule__content{
                &:before{
                    bottom: -8px;
                    left: 0;
                }
            }
        }
    }
    .owl-nav{
        display: flex;
        justify-content: space-between;
        width: 91%;
        margin-top: 20px;
        button{
            font-family: icomoon!important;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 26px;
            outline: none;
            span{
                display: none;
            }
        }
        .owl-prev{
            &::before{
                content: "\e90c";
            }
        }
        .owl-next{
            &::before{
                content: "\e90b";
            }
        }
    }
    &__content{
        border-bottom: 1px solid #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 40px;
        position: relative;
        margin-bottom: 10px;

       
        &:before{
            content: "";
            height: 10px;
            z-index: 999;
            width: 10px;
            border-radius: 50%;
            background: white;
            position: absolute;
            bottom: -5px;
            left: 20px;
        }

        &:after{
            content: "";
            height: 1px;
            z-index: 999;
            width: 56px;
            background: $main;
            position: absolute;
            top: 30px;
            right: 38px;
        }
        &_active{
            &:before{
                height: 20px;
                width: 20px;
                background: url("../img/icons/timetable.svg") no-repeat;
                background-size: contain;
                border-radius: 0%;
            }
        }
        
    }
    .content{
        &__date{
            font-size: 22.4px;
            margin-bottom: 1px;
            font-weight: 300;

        }

        &__artist{
            font: 15px;
            font-weight: bold;
        }

        &__button{
            margin-top: 16px;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            font-size: 10px;
            font-weight: bold;
            background: #e49c6e;
            border-radius: 50px;
            height: 23px;
            width: 97px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        

    }
}

.cal{
    display: block;
    width: max-content;
    td{
        a{
            color: white;
            width: 33px;
            height: 33px;
            color: #ffffff;
            font-family: "Open Sans";
            font-size: 18px;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover{
                text-decoration: none;
            }
        }
        
    }
    .off{
        visibility: hidden;
        }
    .active{
        border: 2px solid #e49c6e;
        background: #e49c6e;
        border-radius: 50%;
    }

    .mero{
        border: 2px solid #e49c6e;
        border-radius: 50%;
    }

    .today{
        a{
        font-weight: bold;
        }
    }

    caption{
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 10px;
        .span{
            font-size: 19px;
        }
        .icon-prev{
        }
        .icon-next{
        }
    }
    &-month{
        font-size: 18px;
        font-weight: 700;
    }
    
}