.staff-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__wrapper{
        display: flex;
        flex-direction: column;
        padding-top: 93px;
    }

    &__poster{
        height: 500px;
        background-color: #000000;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__title{
        margin: 0;
        margin-top: 100px;
        font-family: $GV;
        color: #e49c6e;
        font-size: 72px;
        font-weight: 400;
        line-height: 100px;
    }

    &__full{
        width: 100%;
        display: flex;
        padding-bottom: 50px;
        
    }

    &__pic{
        width: 50%;
        padding-top: 100px;
        display: flex;
        justify-content: center;
        position: relative;
        &:before{
            content: "";
            width: 379px;
            height: 404px;
            background-color: #e49c6e;
            position: absolute;
            top: 30%;
            z-index: 8;
            left: 0;
        }

        img{
            width: 450px;
            height: 450px;
            position: relative;
            z-index: 9;
           
        }

      
    }

    &__text{
        width: 50%;
        padding-right: 100px;
        p{
            font-size: 16px;
            font-style: italic;
        }
    }
   

    &__descr{
        color: $text;
        margin-top: 52px;
        margin-bottom: 83px;
        font-size: 16px;
        font-style: italic;
    }

    &__gallery{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
    }

    &__img{
        width: 901px;
        height: 471px;
        margin-bottom: 49px;
    }
    &__slider{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    &__thumb{
        img{
            width: 100%;
        }
    }

    .owl-item{
        cursor: pointer;
        height: 263px;
        img{
            height: 100%;
        }
    }

    .owl-nav{
        width: 100%;
        position: absolute;
        top: 50%;

        button{
            font-family: icomoon!important;
            font-style: normal;
            font-weight: 400;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            
            position: absolute;
            top: -20px;
            outline: none;

            &:hover{
                background: transparent !important;
            }
            span{
                display: none;
            }
        }
        .owl-prev{
            left: -80px;
           
            &::before{
                content: "\e90c";
                font-size: 42px;
                color: $main;
            }
        }
        .owl-next{
            right: -80px;
            

            &::before{
                content: "\e90b";
                font-size: 42px;
                color: $main;
            }
        }
    }


}