@import "../../assets/fonts/OpenSans/stylesheet.css";
@import "../../assets/fonts/icomoon.css";


$OS: 'Open Sans', sans-serif;
$GV: 'GoodVibes', sans-serif;

@font-face {
	font-family: 'GoodVibes';
	src: url('../../assets/fonts/goodv.ttf');
}


