// main
@import 'settings';
@import 'libs';

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  font-family: $OS;
  box-sizing: border-box;
  position: relative;
  color: $text;
  *{
    box-sizing: border-box;
    -webkit-user-select: true;
    -moz-user-select: true;
    -ms-user-select: true;
    user-select: true;
    -webkit-touch-callout: true;
    -khtml-user-select: true;
    -ms-touch-action: pan-y;
  }
}

a{
  text-decoration: none;
  cursor: pointer;
  &:hover{
    text-decoration: underline;
  }
}

// import files of blocks [Basic]d
@import "../../blocks/section/section";

// Index
@import "../../blocks/header/header";

@import "../../blocks/position/position";
@import "../../blocks/soon/soon";
@import "../../blocks/staff/staff";
@import "../../blocks/mailing/mailing";
@import "../../blocks/news/news";

@import "../../blocks/events/events";





@import "../../blocks/schedule/schedule";
@import "../../blocks/staff-detail/staff-detail";
@import "../../blocks/article/article";
@import "../../blocks/contacts/contacts";
@import "../../blocks/rules/rules";
@import "../../blocks/structure/structure";
@import "../../blocks/headship/headship";
@import "../../blocks/history/history";
@import "../../blocks/art/art";












// Footer :)
@import "../../blocks/footer/footer";



// importing media queries
@import "media";
