.events{
    background: #f8f8f8;
    padding-top: 63px;
    padding-bottom: 27px;
    &__wrapper{
        display: flex;
    }

    &__calendar{
        max-width: 340px;
        min-width: 340px;
        width: 100%;
        background: #fff;
        display: flex;
        position: relative;
        justify-content: center;

        .cal{
            padding-top: 30px;
            padding-bottom: 30px;
            color: $text;
            a{
                color: $text;
            }
            caption{
                color: $text;
            }
            .event{
                margin-bottom: 0;
            }
        }
    }
    .event{
        background: #fff;
        display: flex;
        width: 100%;
        margin-bottom: 28px;

        &:last-child{
            margin-bottom: 0;
        }

        &__img{
            width: 40%;
            img{
                width: 100%;
            }
        }

        &__body{
            width: 60%;
            padding-left: 27px;
            color: $text;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &__artist{
            font-size: 24px;
            font-weight: 700;
            line-height: 58px;
            text-transform: uppercase;
            letter-spacing: 0.62px;
            margin: 0;
        }

        &__date{
            font-size: 18px;
            font-weight: 400;
            line-height: 58px;
            letter-spacing: 0.47px;

            b{
                font-weight: 700;
            }
        }

        &__descr{
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.42px;
        }

        &__row{
            display: flex;
            justify-content: flex-end;
            padding-bottom: 48px;
            padding-right: 20px;
        }

        &__button{
            border-radius: 17px;
            color: white;
            background: $text;
            font-size: 11px;
            font-weight: 400;
            text-transform: uppercase;
            cursor: pointer;
            width: 151px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            

            &:hover{
                text-decoration: none;  
            }
            &_orange{
                background: $main;
                margin-left: 20px;
            }
        }
    }
}
